<!-- TO DO List -->
<script>
    $(document).ready(function(){
        $('#modal-tasks').on('shown.bs.modal', function () {
            $('#myInput').focus()
        })
    });

    {#function changePageTasks(){#}
        {#var json = { idEvent: id};#}
        {#var url = "{{ path("tasks_list") }}";#}

        {#$.ajax({#}
            {#url: url,#}
            {#type: 'POST',#}
            {#data: json,#}
            {#error: function (e) {#}
                {#console.log(e.responseText);#}
            {#},#}
            {#success: function(data) {#}

            {#},#}
            {#complete : function() {#}

            {#}#}
        {#});#}

    function removeTask(idTask) {

        //appel ajax pour recevoir le dernier message de chaque users
        var json = {
            idTask: idTask
        };

        $.ajax({
            method: "POST",
            url: '{{ path("remove_task") }}',
            data: json,
            error: function (e) {
                console.log(e.responseText);
            },success: function (result) {
                $('#messages-container').append(result['html']);
            },
            complete: function () {
//                $('#loading-private-chat-'.concat(index+1)).hide();
            }
        });

    }

</script>

<!-- Modal -->
{% if form_task is not null %}
<div class="modal fade" id="modal-tasks" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Nouvelle tâche</h4>
            </div>
            <div class="modal-body">
                {{ form_start(form_task) }}
                {%  if form_errors(form_task) %}
                    <div class="error alert alert-warning">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ form_errors(form_task) }}
                    </div>
                {% endif %}
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-2 control-label">
                            {{ form_label(form_task.content) }}
                        </div>
                        <div class="col-sm-10">
                            {{ form_widget(form_task.content) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                {#<button type="button" class="btn btn-primary">Enregistrer</button>#}
                {{ form_widget(form_task.save, { 'attr': {'class': 'btn btn-primary'} }) }}
            </div>
            {{ form_widget(form_task._token) }}
            {{ form_end(form_task, {'render_rest': false }) }}
        </div>
    </div>
</div>
{% endif %}

<div class="box box-primary">
    <div class="box-header">
        <i class="ion ion-clipboard"></i>

        <h3 class="box-title">To Do List</h3>

        <div class="box-tools pull-right">
            <ul class="pagination pagination-sm inline">
                {% if paginateTasks.nbResults > 0 %}
                    {{ pagerfanta(paginateTasks, 'twitter_bootstrap') }}
                {% endif %}
            </ul>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <ul class="todo-list">
            {% if paginateTasks.nbResults > 0 %}
                {% for task in paginateTasks.currentPageResults %}
                    <li>
                        <!-- drag handle -->
                        <span class="handle">
                            <i class="fa fa-ellipsis-v"></i>
                            <i class="fa fa-ellipsis-v"></i>
                        </span>
                        <!-- checkbox -->
                        <input type="checkbox" id="task_check_{{ task.id }}"  value="{% if task.done %}checked{% endif %}">
                        <!-- todo text -->
                        <span class="text">{{ task.content }}</span>
                        <!-- Emphasis label -->
                        <small class="label label-danger"><i class="fa fa-clock-o"></i>{% if task.duration %}{{ task.duration|date('h:i') }}{% endif %}</small>
                        <!-- General tools such as edit or delete-->
                        <div class="tools">
                            <i class="fa fa-edit"></i>
                            <a href="#"></a><i class="fa fa-trash-o" ></i>
                        </div>
                    </li>
                {% endfor %}
            {% else %}
                <div>
                    <p>Aucun résultat</p>
                </div>
            {% endif %}
        </ul>
    </div>
    {% if form_task is not null %}
        <!-- /.box-body -->
        <div class="box-footer clearfix no-border">
            <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#modal-tasks"><i class="fa fa-plus"></i> Ajouter</button>
        </div>
    {% endif %}
</div>
<!-- /.box -->