{% extends 'MusicStudyBundle/base.html.twig' %}

{% block body %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Dashboard
                <small>Accueil</small>
            </h1>
            <ol class="breadcrumb">
                <li class="active"><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
            </ol>
        </section>

            <!-- Main content -->
        <section class="content">
            <!-- Small boxes (Stat box) -->
            {% if is_granted("ROLE_ADMIN") %}
                <div class="row">
                    <div class="col-lg-3 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-aqua">
                            <div class="inner">
                                <h3>{{ countDocumentsUser }}</h3>

                                <p>Mes Cours</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>
                            <a href="{{ path('list_document') }}" class="small-box-footer">Voir <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-yellow">
                            <div class="inner">
                                <h3>{{ countUsers }}</h3>

                                <p>Les Etudiants</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-person-add"></i>
                            </div>
                            <a href="{{ path('list_user') }}" class="small-box-footer">Voir<i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    {#<div class="col-lg-3 col-xs-6">#}
                        {#<!-- small box -->#}
                        {#<div class="small-box bg-red">#}
                            {#<div class="inner">#}
                                {#<h3>65</h3>#}

                                {#<p>Administration</p>#}
                            {#</div>#}
                            {#<div class="icon">#}
                                {#<i class="ion ion-pie-graph"></i>#}
                            {#</div>#}
                            {#<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>#}
                        {#</div>#}
                    {#</div>#}
                    <!-- ./col -->
                </div>
            {% endif %}
            <!-- /.row -->
            <!-- Main row -->
            <div class="row">
                <!-- Left col -->
                <section class="col-lg-7 connectedSortable">
                    <!-- Chat Global -->
                    {% include 'MusicStudyBundle/Component/chatGlobal.html.twig' %}

                    {% include 'MusicStudyBundle/Component/tasks.html.twig' with {'form_task': null} %}
                </section>
                <!-- /.Left col -->

                <!-- right col (We are only adding the ID to make the widgets sortable)-->
                <section class="col-lg-5 connectedSortable">
                <!-- /.box -->
                    {% include 'MusicStudyBundle/Component/chat.html.twig' %}

                    <!-- USERS LIST -->
                    {% if is_granted("ROLE_ADMIN") %}
                        <div class="box box-danger">
                            <div class="box-header with-border">
                                <h3 class="box-title">Derniers membres</h3>

                                <div class="box-tools pull-right">
                                    {#<span class="label label-danger">8 New Members</span>#}
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body no-padding">
                                <ul class="users-list clearfix">
                                    {% for user in lastUsers %}
                                        <li>
                                            <img src="{% if user.avatar %}{{ vich_uploader_asset(user.avatar, 'file', 'MusicStudyBundle\\Entity\\Document') }}{% endif %}" alt="User Image">

                                            <a class="users-list-name" href="{{ path('update_user', {'id': user.id}) }}">{{ user }}</a>
                                            <span class="users-list-date">{{ user.createdAt|date('d/m/Y') }}</span>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <!-- /.users-list -->
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer text-center">
                                <a href="{{ path('list_user') }}" class="uppercase">Voir tous</a>
                            </div>
                            <!-- /.box-footer -->
                        </div>
                    {% endif %}
                    <!--/.box -->
                </section>
                <!-- right col -->
            </div>
            <!-- /.row (main row) -->
        </section>
        <!-- /.content -->
    </div>

{% endblock %}